<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/dist/main.css' | relative_url }}">
    <title>{{page.title}}</title>
</head>

<body>

<!------Header------->

<header class="bg-cream-light">
    <div class="text-8xl">
        <h2 class="p-10 text-[10rem] font-tokyo-dreams text-orange-900">
            <a class="hover:opacity-50 flex items-center justify-center" href="/index.html">arlo</a>
        </h2>
        <p class="bg-orange-900"></p>
    </div>
    
    <nav class="z-40 fixed top-0 overflow-x-scroll flex items-center justify-center p-16 rounded-full whitespace-nowrap font-anchorage leading-loose bg-coffee border-solid border-cream-light flex-col mx-auto burgerMenu transition-all collapsed-menu w-[20rem] pb-6">
        <span class="menuAdjuster p-10"> close</span>

        <a class="px-6 hover:white" href="/index.html"> HOME</a>
        <a class="px-6 hover:white" href="#"> ABOUT US</a>
        <a class="px-6 hover:white" href="/overview-ebooks.html">EBOOKS</a>
        <a class="px-6  hover:white" href="/overview-presets.html">PRESETS</a>
        <a class="px-6 hover:white" href="#"> REVIEWS</a>
        <a class="ppx-6 hover:white" href="/products-page.html"> SHOP</a>
        <a class="px-6 hover:white" href="#"> FAQS</a>
        <a class="px-6 hover:white" href="https://cloudvent1.memberspace.com/member/plans/fcc4f3eafp"> SIGNUP</a>

        <span class="menuAdjuster p-10 hover:white"> menu</span>
    </nav>

    <a class="px-6 hover:opacity-50 text-black text-lg z-50" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
</header>

    {{content}}
</body>

</html>